
<div class="sub-title">
  Special Events
</div>
<hr>

<div class="event-list">
  {{#each events as |event|}}
    {{#unless event.recurrent}}
      {{#link-to "events.event" event class="event-container"}}
        <div class="event-image">
          <img
            src={{event.eventImage}}
            onerror="this.src='../assets/images/HometownComicsLogo.png';"
            alt="Event Image"
          >
        </div>
        <div class="event-text">
          <div class="event-title">{{event.title}}</div>
          <div class="event-sub">On {{event.readable_date}}</div>
          <div class="event-sub">For {{event.logical_duration}}</div>
          <div class="event-sub">Participants {{event.participants}}</div>
          {{#if event.declared_format}}
            <div class="event-sub">{{event.format.name}}</div>
          {{else}}
            <div class="event-sub">&nbsp;</div>
          {{/if}}
        </div>
      {{/link-to}}
    {{/unless}}
  {{/each}}
</div>

<div class="sub-title">
  Weekly Events
</div>
<hr>
<div class="event-list">
  {{#each events as |event|}}
    {{#if event.recurrent}}
      {{#link-to "events.event" event class="event-container"}}
        <div class="event-image">
          <img
            src={{event.eventImage}}
            onerror="this.src='../assets/images/HometownComicsLogo.png';"
            alt="Event Image"
          >
        </div>
        <div class="event-text">
          <div class="event-title">{{event.title}}</div>
          <div class="event-sub">On {{event.readable_date}}</div>
          <div class="event-sub">For {{event.logical_duration}}</div>
          <div class="event-sub">Participants {{event.participants}}</div>
          {{#if event.declared_format}}
            <div class="event-sub">{{event.format.name}}</div>
          {{else}}
            <div class="event-sub">&nbsp;</div>
          {{/if}}
        </div>
      {{/link-to}}
    {{/if}}
  {{/each}}
</div>

{{yield}}
