
{{! Moves the title from the event component to the top of the page}}
<div class="sub-title">
  {{model.title}}
</div>
<hr>

{{!
  This section is for the event header section it is basically a copy
  over from the events page. There is extra emphasis placed on the
  details of the event within this section. Divided into 3 parts.
  one part is the image, another is the existential questions and then
  then the data answering the questions.
}}
<div class="single-event-container">
  <img
    class="single-event-image"
    src={{model.eventImage}}
    onerror="this.src='../assets/images/HometownComicsLogo.png';"
    alt="Event Image"
  >
  <div class="single-event-text">
    <div class="single-event-text-questions">
      <div class="question">
        When :
      </div>
      <div class="question">
        Duration :
      </div>
      <div class="question">
        Participants :
      </div>
      {{#if model.declared_game}}
        <div class="question">
          Game :
        </div>
      {{/if}}
      {{#if model.declared_format}}
        <div class="question">
          Format :
        </div>
      {{/if}}
    </div>
    <div class="single-event-text-answers">
      <div class="answer">
        &nbsp;
        {{model.readable_date}}
      </div>
      <div class="answer">
        &nbsp;
        {{model.logical_duration}}
      </div>
      <div class="answer">
        &nbsp;
        {{model.participants}}
      </div>
      {{#if model.declared_game}}
        <div class="answer">
          &nbsp;
          {{model.game.title}}
        </div>
      {{/if}}
      {{#if model.declared_format}}
        <div class="answer">
          &nbsp;
          {{model.format.name}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{!
  This section will provide any additional information about the event
  for those that may be interested about the game if the information exists
  in the data store.
}}
{{#if model.declared_activity}}

  <div class="sub-title">
    Event Description
  </div>
  <hr>
  <div class="text">
    {{model.description}}
  </div>


{{else}}

  {{!if the event is not an activity}}
  {{#if model.declared_game}}
    <div class="sub-title">
      {{model.game.title}}
    </div>
    <hr>
    <div class="event-text">
      {{model.game.description}}
    </div>
  {{/if}}

  {{#if model.declared_format}}
    <div class="sub-title">
      {{model.format.name}}
    </div>
    <hr />
    <div class="event-text">
      {{model.format.description}}
    </div>
    <div class="format-specifics">

      <div class="format-categories">
        <div class="format-category">
          Minimum number of Cards :
        </div>
        <div class="format-category">
          Maximum number of Cards :
        </div>
        <div class="format-category">
          Maximum copies of each Card :
        </div>
        <div class="format-category">
          Banlist :
        </div>
      </div>

      <div class="format-attributes">
        <div class="format-attribute">
          &nbsp;
          {{model.format.minNumberOfCards}}
        </div>
        <div class="format-attribute">
          &nbsp;
          {{model.format.maxNumberOfCards}}
        </div>
        <div class="format-attribute">
          &nbsp;
          {{model.format.maxCopies}}
        </div>
        <div class="format-attribute">
          &nbsp;
          <a href={{model.format.banlist}}>
            Link to Format Banlist
          </a>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

{{! Place for buttons to navigate away from or enter events }}
<div class="event-buttons-container">
  {{#link-to "events" class="site-button" tagName="button"}}
    Return to the Events Page
  {{/link-to}}
  <button class="site-button">Join this Event</button>
</div>

{{outlet}}
