
<div class="sub-title">
  Special Events
</div>
<hr>
<div class="event-list">
  {{#each model as |event|}}
    {{!unless is ember's negation of if}}
    {{#unless event.recurrent}}
      <div class="event-item">
        <div class="event-title">{{event.title}}</div>
        <div class="event-sub">{{event.readable_date}}</div>
        <div class="event-sub">for {{event.logical_duration}}</div>
        <div class="event-sub">Participants {{event.participants}}</div>
        <div class="event-sub">{{event.format}}</div>
      </div>
    {{/unless}}
  {{/each}}
</div>

<div class="sub-title">
  Weekly Events
</div>
<hr>
<div class="event-list">
  {{#each model as |event|}}
    {{#if event.recurrent}}
      <div class="event-item">
        <div class="event-title">{{event.title}}</div>
        <div class="event-sub">{{event.readable_date}}</div>
        <div class="event-sub">{{event.logical_duration}}</div>
        <div class="event-sub">Participants {{event.participants}}</div>
        <div class="event-sub">{{event.format}}</div>
      </div>
    {{/if}}
  {{/each}}
</div>

{{outlet}}
